.toggle-btn-container{
  border-radius: 8px;
  display: flex;
  justify-content: center;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 8px;
      width: 100%;
    max-width: 520px;
    gap: 4px;
    margin-bottom: 20px;
}
.toggle-btn-container button{
width:100%;
padding: 6px 10px;
border-radius: 6px;
transition: all 0.3s ;
    background: transparent;
  color: #fff;

}

.toggle-btn.active{
 border: none;
  background: #ffffff68;
  color: #fff;
}
.toggle-btn:hover{
    box-shadow: 0px 0px 10px #ffffff40;
}

.signup_btn.toggle-btn{
  border: none;
}
.signup_btn.active{
 border: none;
  background: #ffffff68;
  color: #fff;
}
.signup_btn:hover{
    box-shadow: 0px 0px 10px #ffffff40;
}
