
.proflie-module::before{
  content: '';
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 backdrop-filter: blur(10px) saturate(120%);
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.539), rgba(184, 184, 184, 0.553));
  box-shadow: 0 8px 30px rgba(0,0,0,0.6);
  border-radius: 0.5rem;
  z-index: -1;
  transition: opacity 0.3s ease;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  
}

/* Main container for the profile dropdown */
.pd-root {
  position: relative;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  color: #e6eefc;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.more-settings{
  border-top: 2px solid gray;
}

